/* Mobile styles */
@media only screen and (max-width: 768px) {
    .container-fluid {
        padding: 0 20px;
    }

    section,
    #about {
        margin: 0 30px;
        padding-bottom: 50px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        margin-top: 100px;
    }

    .hero .hero-div {
        flex-direction: column;
        gap: 20px;
    }

    .heroTxt div a {
        display: none;
    }

    .image {
        width: 60%;
        border-radius: 1000px;
        border: 5px solid #252525;
        display: block !important;
        margin: 0 auto;
    }

    .heroTxt {
        text-align: center;
    }

    .heroTxt h1 {
        font-size: 25px;
        font-weight: 1000;
    }

    .navbar {
        display: none;
    }

    .mobile-navbar {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 10px 0;
        height: 50px;
        width: 100%;
        background: rgba(43, 43, 43, 0.5);
        /* Semi-transparent background */
        backdrop-filter: blur(10px);
        /* Backdrop blur effect */
        border-top-left-radius: 10px;
        /* Optional: rounded corners */
        border-top-right-radius: 10px;
        /* Optional: rounded corners */
        position: fixed;
        bottom: 0;
        display: flex;
        gap: 15px;
        z-index: 10;
    }


    .mobile-navbar a {
        padding: 5px;
        font-size: 20px;
        flex: 1;
        text-align: center;
        width: 50px;
        border-radius: 10px;
        background-color: transparent;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .mobile-navbar a.active ion-icon {
        color: #ffb400;
    }

    button {
        border-radius: 100px;
        display: flex;
        align-items: center;
        font-size: 13px;
        padding-left: 17px;
        margin: 0 auto;
    }

    button>ion-icon {
        font-size: 40px;
        margin-left: 5px;
    }


    button:active {
        transform: scale(0.95);
    }

    .header-text .hbg {
        font-size: 60px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .header-text {
        margin-top: 40px;
    }

    .email,
    .language {
        max-width: 100px;
        word-wrap: break-word;
    }

    .personal-info-content {
        gap: 30px;
    }

    .personal-info-content div:nth-child(1) {
        margin-right: 30px;
    }

    .personal-info-content div p {
        font-size: 14px;
        font-weight: bold;
    }

    .personal-info-content div p span {
        display: block;
    }

    .card,
    .edu-card {
        width: 100%;
    }

    .mobile {
        display: flex !important;
    }

    .pc {
        display: none;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skills-container .bar {
        flex: 1 1 45%;
        /* Adjusts the width to 45% for each bar */
        max-width: 35%;
        /* Ensures the bars don't exceed 45% width */
        margin: 10px;
        /* Adds some space around each bar */
        text-align: center;
    }

    .bar p {
        margin-top: 10px;
    }

    .bar canvas {
        display: block;
        margin: 0 auto;
    }

}